@import '@styles/typography.css';

.rowButton,
.row {
  @mixin body-sm;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--space_1);
  width: 100%;
  border-radius: 0;
  color: var(--corner-text-color, var(--color-text));
  text-align: left;
  
}

.row {
  border-top: 1px solid color-mix(in srgb, var(--corner-text-color, var(--color-text)) 30%, transparent);
  padding: var(--space_0_25) 0;
}

.rowButton {
  border: none;
  outline: none;
  border-radius: 0;
  background: transparent;
  cursor: pointer;
  border-top: 1px solid color-mix(in srgb, var(--corner-text-color, var(--color-text)) 30%, transparent);
  padding: var(--space_0_25) 0 var(--space_3) 0;

  &:hover {
    text-decoration: underline;
  }
}

.date,
.company,
.title {
  white-space: nowrap;
  @mixin body;
}

.rowButton.rowSm,
.row.rowSm {
  @mixin body;
}

.rowSm .date,
.rowSm .company,
.rowSm .title {
  @mixin body-sm;
}

.companyContainer {
  flex: 1 1 0;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--space_1);

  @media (max-width: 720px) {
    display: flex;

    & .company {
      flex: 0 0 35%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & .title {
      flex: 1 1 0;
    }
  }
}

.date {
  flex: 0 0 10%;
  text-align: left;
  @mixin body;
  font-variant-numeric: tabular-nums;
  padding-right: 0;
  margin: 0;
}

.company {
  text-align: left;
  font-weight: var(--font-weight-medium);
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
}

