@import '@styles/typography.css';

.rowButton,
.row {
  @mixin body-sm;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space_1);
  width: 100%;
  border-radius: 0;
  color: var(--corner-text-color, var(--color-text));
  text-align: left;
  
}

.row {
  border-bottom: 1px solid color-mix(in srgb, var(--corner-text-color, var(--color-text)) 30%, transparent);
  padding: var(--space_0_5) 0;
}

.rowButton {
  border: none;
  outline: none;
  border-radius: 0;
  background: transparent;
  cursor: pointer;
  border-bottom: 1px solid color-mix(in srgb, var(--corner-text-color, var(--color-text)) 30%, transparent);
  padding: var(--space_0_5) 0;

  &:hover {
    text-decoration: underline;
  }
}

.date,
.company,
.title {
  white-space: nowrap;
  @mixin body-sm;
}

.rowButton.rowSm,
.row.rowSm {
  @mixin body-sm;
}

.rowSm .date,
.rowSm .company,
.rowSm .title {
  @mixin body-sm;
}

.date {
  flex: 0 0 10%;
  text-align: left;
  padding-right: var(--space_1);
}

.company {
  flex: 0 0 30%;
  text-align: left;
  font-weight: var(--font-weight-medium);
}

.title {
  flex: 0 0 50%;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
}

