@import '@styles/typography.css';

.root {
  height: 100%;
  min-height: 0;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease-out;
  overflow: hidden;
}

.scrollWrapper {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: clip;
}

.sectionContent {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space_2);

  & > h1 {
    @mixin heading-xl;
    margin: 0;
  }
}

.sectionContentFullHeight {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  padding: 0;
  align-items: stretch;
  overflow: visible;
}
