@import '@styles/typography.css';

.root {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.grid {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--cell-size));
  grid-template-rows: repeat(var(--rows), var(--cell-size));
  gap: var(--cell-gap);
}

.cell {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background: #ebedf0;

  &[data-level='1'] {
    background: #baecbf;
  }

  &[data-level='2'] {
    background: #6dc074;
  }

  &[data-level='3'] {
    background: #54a258;
  }

  &[data-level='4'] {
    background: #2e6230;
  }
}
