@import '@styles/typography.css';

.root {
  min-height: 100vh;
  min-width: 100vw;
  padding: var(--space_2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-bg);
  color: var(--color-text);

  .nameYear {
    padding-top: var(--space_2);
    @mixin body-sm;
    color: var(--color-text-muted);
  }

  .titleWrapper {
    flex: 1;
  }

  .title {
    margin: var(--space_8) 0 var(--space_6);
    @mixin display;
  }

  .workExperience {
    display: block;
    @mixin body;
    color: var(--color-text);

    & .divider {
      @mixin body-sm;
      color: var(--color-text-subtle);
      padding: 0 var(--space_0_25);
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: var(--space_1);
    padding-bottom: var(--space_3);

    & a {
      @mixin body;
      color: var(--color-text);
      text-decoration: underline;
    }
  }
}
