@import '@styles/effects.css';

.blurTop {
  @mixin blur-fade-strip 20vh 48px;
  top: 0;
  width: 100vw;
  z-index: 5;
  mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
}

.blurBottom {
  @mixin blur-fade-strip 28vh 30px;
  bottom: 0;
  z-index: 1;
  mask-image: linear-gradient(to bottom, transparent 0%, black 80%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 80%);
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
  mask-position: 0 0;
  -webkit-mask-position: 0 0;
}
