.blurTop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 20vh;
  pointer-events: none;
  z-index: 5;
  background: #ffffff03;
  backdrop-filter: blur(48px);
  -webkit-backdrop-filter: blur(48px);
  mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
}

.blurBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 20vh;
  pointer-events: none;
  z-index: 5;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(48px);
  -webkit-backdrop-filter: blur(48px);
  mask-image: linear-gradient(to top, black 20%, transparent 100%);
  -webkit-mask-image: linear-gradient(to top, black 20%, transparent 100%);
}
