@import '@styles/typography.css';

.root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.cropWrapper {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  width: 70vw;
  max-width: 70vw;
  margin: 0 auto;
  text-align: left;
  cursor: pointer;
  overflow: hidden;
  mask-image: linear-gradient(to bottom, black 0%, black 70%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 0%, black 70%, transparent 100%);

  .title {
    margin: var(--space_8) 0 var(--space_5);
    flex-shrink: 0;
    @mixin display;
    color: var(--section-text-color, var(--color-text));
  }

  .list {
    margin: 0;
    padding: 0;
    list-style: none;
    column-count: 1;
    column-gap: var(--space_8);

    @media (min-width: 480px) {
      column-count: 2;
    }

    @media (min-width: 720px) {
      column-count: 3;
    }
  }

  .quoteItem {
    break-inside: avoid;
    margin-bottom: var(--space_5);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .quote {
    margin: 0 0 var(--space_0_75);
    @mixin body-serif;
    font-style: italic;
    color: var(--section-text-color, var(--color-text));
    line-height: var(--line-height-relaxed);

    &::before {
      content: '"';
    }

    &::after {
      content: '"';
    }
  }

  .cite {
    @mixin caption;
    color: var(--section-text-color, var(--color-text));
    font-style: normal;
  }
}

/* Modal-only: full list, single column, scrollable */
.modalContent {
  color: var(--color-text);
  margin: 0 auto;
  max-width: 40vw;

  .modalTitle {
    margin: var(--space_8) 0 var(--space_5);
    @mixin display;
  }

  .modalList {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .modalQuoteItem {
    margin-bottom: var(--space_4);
    padding-bottom: var(--space_3);
    border-bottom: 1px solid var(--color-border);

    .quote {
      @mixin body-serif;
      font-style: italic;
      color: var(--color-text);
      line-height: var(--line-height-relaxed);
    }

    .cite {
      display: block;
      @mixin heading-md;
      color: var(--color-text);
      font-style: normal;
      margin-top: var(--space_2);
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}
