@import '@styles/breakpoints.css';
@import '@styles/typography.css';
@import '@styles/tilt.css';

.root {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;

  &:first-child {
    margin-top: 20vh;
  }

  & + & {
    margin-top: 20vh;
  }

  &:last-child {
    & .inner::before {
      display: none;
    }

    & .index {
      display: none;
    }
  }
}

.tiltRoot {
  @mixin tilt-root;
  width: 100%;
}

.inner {
  position: relative;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: var(--grid-margin);
    right: var(--grid-margin-right);
    height: 1px;
    background: var(--section-text-color, var(--color-text));
  }
}

.tiltPlane {
  @mixin tilt-plane;
}

.index {
  position: absolute;
  left: var(--grid-margin);
  top: calc(var(--grid-margin) + 0.65rem);
  @mixin heading-lg;
  color: var(--section-text-color, var(--color-text));
  font-variant-numeric: tabular-nums;
  text-align: left;
  pointer-events: none;
  z-index: 1;

  @mixin mobile-down {
    display: none;
  }
}
