@import '@styles/breakpoints.css';
@import '@styles/typography.css';

.root {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;

  & + & {
    margin-top: 20vh;
  }
}

.index {
  position: absolute;
  left: var(--grid-margin);
  top: var(--grid-margin);
  @mixin body-lg;
  color: var(--section-text-color, var(--color-text));
  font-variant-numeric: tabular-nums;
  text-align: left;
  pointer-events: none;
  z-index: 1;

  @mixin mobile-down {
    display: none;
  }
}
