@import '@styles/typography.css';

.root {
  max-width: 65ch;
  text-align: center;

  & h1 {
    @mixin heading-xl;
    margin: 0 0 var(--space_1);
    color: var(--color-text);
  }

  & p {
    @mixin body-lg;
    margin: 0;
    color: var(--color-text-muted);
  }
}
